.container {
    text-align: center;
}

h1 {
    color: mediumaquamarine;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    padding-top: 30px;
}

table {
    position: absolute;
    margin-left: -156px;
    left: 50%;
    right: 40%;
    border-collapse: collapse;
    margin-top: 30px;
}


td {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border: 2px solid #CCC;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#Reset {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid fuchsia;
    margin: 400px 47%;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    background-color:fuchsia;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#message {
    font-family: 'Times New Roman', Times, serif;
    color: fuchsia;
    font-size: 20px;
}